<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
    <title>Travis Aggregator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
</head>
<body>
<header class="page wrapper">

    <nav class="layout">
        <div class="layout__item palm-1/1 lap-and-up-1/2">
            <h1>Travis Aggregator</h1>
        </div><!--
            --><div class="layout__item palm-1/1 lap-and-up-1/2">
        <ul class="site-nav__list">
            <li class="site-nav__item">
                <a class="btn btn--small" th:href="'https://github.com/' + ${org} + '/getting-started-guides/wiki'">Contributions</a>
            </li>
            <li class="site-nav__item">
                <a class="btn btn--small" th:href="'https://github.com/' + ${org}">GitHub</a>
            </li>
            <li class="site-nav__item">
                <a class="btn btn--small" th:href="${site} + '/guides'">Guides</a>
            </li>
            <li class="site-nav__item">
                <a class="btn btn--small" th:href="${issueSite}">Issues</a>
            </li>
        </ul>
    </div>
    </nav>

</header>

<section class="wrapper">

    <ul class="layout"><!--
            --><li th:each="guide : ${guides}" class="layout__item lap-and-up-1/2 desk-1/4">
        <div class="flag flag--tiny">
            <div class="flag__img">
                <img th:src="@{https://travis-ci.org/__${org}__/__${guide[name]}__.svg?branch=master}" />
            </div>
            <div class="flag__body">
                <a th:href="@{__${site}____${guide[href]}__}" target="_blank">
                    <p th:text="${guide[title]}"></p>
                </a>
            </div>
        </div>
    </li><!--
        --></ul>

</section>

</body>
</html>